<div class="menu_wrapper">
    <div id='cssmenu'>
		<ul>
			<li><a href='@Url.Action("Index", "Home")'><span>Home</span></a></li>
			<li @*class='active has-sub'*@>
				<a href='@Url.Action("Index", "AdminPanel")'><span>Products</span></a>
				@*<ul>
					<li class='has-sub'>
						<a href='#'><span>Product 1</span></a>
						<ul>
							<li><a href='#'><span>Sub Product</span></a></li>
							<li class='last'><a href='#'><span>Sub Product</span></a></li>
						</ul>
					</li>
					<li class='has-sub'>
						<a href='#'><span>Product 2</span></a>
						<ul>
							<li><a href='#'><span>Sub Product</span></a></li>
							<li class='last'><a href='#'><span>Sub Product</span></a></li>
						</ul>
					</li>
				</ul>*@
			</li>
			<li><a href='@Url.Action("Blog", "AdminPanel")'><span>Blog</span></a></li>
			<li class='last'><a href='@Url.Action("Messages", "AdminPanel")'><span>Messages</span></a></li>
		</ul>
	</div>
</div>
